# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
# Encriptación de token, no modificar nunca o los token que se generaron no se podrán decodificar nunca más
# Cuando se pase a producción este .env no deberia ser visible en el codigo fuente. Las claves son privadas
ENCRYPTION_KEY=Oq_wJ8I1vgefK7Wtu6ef1C_seIPvR7gAOaSAzbhgtiU=

# Front-End Variables
BASENAME=/
#BACKEND_URL=
#FRONTEND_URL=

#Variables for Email
SMTP_ADDRESS = 'smtp.gmail.com'
SMTP_PORT = 465
#EMAIL_ADDRESS=
#EMAIL_PASSWORD=